* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

body {
  position: relative;
  background-color: black;
  font-family: "Poppins", sans-serif;
  height: 3000px;
}

@font-face {
  font-family: godOfWarFont;
  src: url(../fonts/godofwar.TTF);
}
.header {
  width: 100%;
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.header .container {
  width: 1200px;
  color: #ffffff;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo img {
  width: 60px;
}
.header .container .navbar .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container .navbar .nav-menu li {
  margin-left: 20px;
  margin-right: 20px;
}
.header .container .navbar .nav-menu li a {
  font-size: 1.2rem;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 0 #0059ec;
  margin: 0 -0.25rem;
  padding: 0 -0.25rem;
  color: #ffffff;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.header .container .navbar .nav-menu li a:hover {
  box-shadow: inset 100px 0 0 0 #0059ec;
}

.bars {
  position: fixed;
  z-index: 3;
  top: 5px;
  right: 20px;
  color: #ffffff;
  font-size: 3rem;
  display: none;
}

.moba-navbar {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.1);
}
.moba-navbar a {
  line-height: 2;
  font-size: 2rem;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 0 #0059ec;
  margin: 0 -0.25rem;
  padding: 0 -0.25rem;
  color: #ffffff;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.moba-navbar a:hover {
  box-shadow: inset 100px 0 0 0 #0059ec;
}

.hero-section {
  height: 100vh;
  background: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  color: #ffffff;
}
.hero-section .hero-container {
  width: 1200px;
  margin: auto;
}
.hero-section .hero-container h1 {
  font-family: godOfWarFont;
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hero-section .hero-container .hero-text {
  font-size: 1.4rem;
  width: 50%;
  margin-bottom: 30px;
  line-height: 1.7;
}
.hero-section .hero-container .review-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.hero-section .hero-container .review-container .stars i {
  color: gold;
}
.hero-section .hero-container .review-container p {
  font-size: 1.2rem;
  font-weight: bold;
}
.hero-section span.blue {
  color: #0059ec;
}
.hero-section .genre {
  font-weight: 400;
  display: inline-block;
  padding: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.hero-section .cta-container {
  margin-top: 40px;
  width: 27%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section .cta-container .play-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero-section .cta-container .play-btn-container .play-button {
  cursor: pointer;
}
.hero-section .cta-container .play-btn-container .play-button img {
  width: 60px;
}
.hero-section .cta-container .play-btn-container .cta-trailer {
  margin-top: 5px;
  color: #ffffff;
}
.hero-section .cta-container .play-btn-container .cta-trailer:hover {
  color: #0059ec;
  -webkit-text-decoration: underline #0059ec;
          text-decoration: underline #0059ec;
}
.hero-section .cta-container .buy-btn {
  color: #ffffff;
  font-family: godOfWarFont;
  font-size: 1.4rem;
  padding: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-transform: uppercase;
  border: 2px solid #0059ec;
  transition: background-color 0.3s ease-in-out;
}
.hero-section .cta-container .buy-btn:hover {
  background-color: #0059ec;
}

.story-section {
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story-section .story-text-container {
  width: 40%;
  color: #ffffff;
}
.story-section .story-text-container h1 {
  font-family: godOfWarFont;
  font-size: 3rem;
  margin-bottom: 20px;
}
.story-section .story-text-container p {
  margin-bottom: 10px;
}
.story-section .story-img-container {
  width: 30%;
  height: 80%;
  background: url(../images/story-photo.jpg);
  background-position: top;
  background-size: cover;
}

.games-section {
  padding-top: 100px;
  height: 233vh;
  color: #fff;
  background-color: #0f0f0f;
}
.games-section .games-container {
  margin-top: 100px;
  width: 100%;
  height: 100%;
}
.games-section .games-container .games-title {
  font-family: godOfWarFont;
  font-size: 3rem;
  text-align: center;
  margin: 50px auto;
}
.games-section .games-container .games-series {
  width: 80%;
  margin: 100px auto auto;
}
.games-section .games-container .games-series > div {
  height: 150px;
  border-top: 1px solid #414141;
}
.games-section .games-container .games-series > div a {
  height: 100%;
  position: relative;
  cursor: pointer;
  display: block;
}
.games-section .games-container .games-series > div a div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.games-section .games-container .games-series > div a div h2.title {
  font-family: godOfWarFont;
  font-size: 2.3rem;
  color: #ffffff;
}
.games-section .games-container .games-series > div a div p {
  font-weight: 200;
  color: #a3a3a3;
}
.games-section .games-container .games-series .hovering a img {
  opacity: 0;
  position: absolute;
  top: -70px;
  left: 400px;
  width: 300px;
  transition: all 0.3s ease-in-out;
}
.games-section .games-container .games-series .hovering a:hover img {
  opacity: 1;
}

.pc-section {
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/bg-trailer.webp);
  background-position: center;
  background-size: cover;
}
.pc-section .pc-details-container {
  padding: 30px 20px;
  width: 40%;
  margin-left: 30px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.pc-section .pc-details-container .pc-details-title {
  font-family: godOfWarFont;
  font-size: 2.4rem;
  margin: 20px auto;
}
.pc-section .pc-details-container .pc-details-about-text {
  width: 80%;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #acacac;
}
.pc-section .pc-details-container .pc-features-tilte {
  margin-bottom: 10px;
  font-weight: 400;
}
.pc-section .pc-details-container ul {
  margin-left: 40px;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 30px;
}
.pc-section .pc-details-container ul li {
  list-style: url("../images/square.png");
}
.pc-section .pc-details-container .learn-more-btn {
  font-family: inherit;
  background-color: #ffffff;
  padding: 10px 20px;
  font-size: 1rem;
  color: #121314;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.pc-section .pc-details-container .learn-more-btn:hover {
  background-color: #0059ec;
  color: #ffffff;
}

.journey-section {
  height: 1200px;
  background-color: #0f0f0f;
  padding: 60px 0;
  color: #fff;
  position: relative;
}
.journey-section h1.journey-section-title {
  font-family: godOfWarFont;
  font-size: 2.4rem;
  text-align: center;
  margin: 20px auto;
}
.journey-section p.journey-section-title-text {
  width: 50%;
  margin: 30px auto;
  text-align: center;
}
.journey-section .btns-container {
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  background-color: #1d1f20;
}
.journey-section .btns-container > button {
  flex: 1;
  margin-left: 3px;
  margin-right: 3px;
  padding: 10px;
  height: 60px;
  font-family: inherit;
  font-weight: bold;
  color: #acacac;
  border-radius: 30px;
  background-color: #0f0f0f;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.journey-section .btns-container > button:hover {
  background-color: #0059ec;
  color: #ffffff;
}
.journey-section .content {
  width: 80%;
  position: absolute;
  top: 400px;
  left: 10%;
  padding: 10px;
  background-color: #0f0f0f;
  transition: opacity 0.5s ease-in-out;
}
.journey-section .fanstatic-content .fanstatic-title {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 30px;
}
.journey-section .fanstatic-content p.fanstatic-text {
  text-align: center;
  width: 650px;
  margin: auto;
  font-size: 1.1rem;
  color: #a3a3a3;
  margin-bottom: 30px;
}
.journey-section .fanstatic-content .fanstatic-flex {
  display: flex;
  justify-content: space-between;
}
.journey-section .fanstatic-content .fanstatic-flex .image-container {
  background: url(../images/fantastic-photo.webp);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-top: 15px;
  width: 45%;
  height: 230px;
}
.journey-section .fanstatic-content .fanstatic-flex .text {
  flex: 1;
  padding: 10px 10px 10px 60px;
}
.journey-section .fanstatic-content .fanstatic-flex .text h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.journey-section .fanstatic-content .fanstatic-flex .text p {
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}
.journey-section .fanstatic-content .fanstatic-flex .text p.quote-text {
  font-style: italic;
  color: #a3a3a3;
}
.journey-section .fanstatic-content .fanstatic-flex .text .author {
  font-weight: bold;
  font-style: italic;
}
.journey-section .father-content .father-title {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 30px;
}
.journey-section .father-content p.father-text {
  text-align: center;
  width: 650px;
  margin: auto;
  font-size: 1.1rem;
  color: #a3a3a3;
  margin-bottom: 30px;
}
.journey-section .father-content .father-flex {
  display: flex;
  justify-content: space-between;
}
.journey-section .father-content .father-flex .image-container {
  background: url(../images/father-and-son.webp);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-top: 15px;
  width: 45%;
  height: 230px;
}
.journey-section .father-content .father-flex .text {
  flex: 1;
  padding: 10px 10px 10px 60px;
}
.journey-section .father-content .father-flex .text h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.journey-section .father-content .father-flex .text p {
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}
.journey-section .father-content .father-flex .text p.quote-text {
  font-style: italic;
  color: #a3a3a3;
}
.journey-section .father-content .father-flex .text p.quote-text-2 {
  margin-top: 30px;
  font-style: italic;
  color: #a3a3a3;
}
.journey-section .father-content .father-flex .text .author {
  font-weight: bold;
  font-style: italic;
}
.journey-section .combat-content .combat-title {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 30px;
}
.journey-section .combat-content p.combat-text {
  text-align: center;
  width: 650px;
  margin: auto;
  font-size: 1.1rem;
  color: #a3a3a3;
  margin-bottom: 30px;
}
.journey-section .combat-content .combat-flex {
  display: flex;
  justify-content: space-between;
}
.journey-section .combat-content .combat-flex .image-container {
  background: url(../images/father-and-son.webp);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-top: 15px;
  width: 45%;
  height: 230px;
}
.journey-section .combat-content .combat-flex .text {
  flex: 1;
  padding: 10px 10px 10px 60px;
}
.journey-section .combat-content .combat-flex .text h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.journey-section .combat-content .combat-flex .text p {
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}
.journey-section .combat-content .combat-flex .text p.quote-text {
  font-style: italic;
  color: #a3a3a3;
}
.journey-section .combat-content .combat-flex .text p.quote-text-2 {
  margin-top: 30px;
  font-style: italic;
  color: #a3a3a3;
}
.journey-section .combat-content .combat-flex .text .author {
  font-weight: bold;
  font-style: italic;
}
.journey-section .exploration-content .exploration-title {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 30px;
}
.journey-section .exploration-content p.exploration-text {
  text-align: center;
  width: 650px;
  margin: auto;
  font-size: 1.1rem;
  color: #a3a3a3;
  margin-bottom: 30px;
}
.journey-section .exploration-content .exploration-flex {
  display: flex;
  justify-content: space-between;
}
.journey-section .exploration-content .exploration-flex .image-container {
  background: url(../images/exploration-photo.webp);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-top: 15px;
  width: 45%;
  height: 230px;
}
.journey-section .exploration-content .exploration-flex .text {
  flex: 1;
  padding: 10px 10px 10px 60px;
}
.journey-section .exploration-content .exploration-flex .text h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.journey-section .exploration-content .exploration-flex .text p {
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}
.journey-section .exploration-content .exploration-flex .text p.quote-text {
  font-style: italic;
  color: #a3a3a3;
}
.journey-section .exploration-content .exploration-flex .text p.quote-text-2 {
  margin-top: 30px;
  font-style: italic;
  color: #a3a3a3;
}
.journey-section .exploration-content .exploration-flex .text .author {
  font-weight: bold;
  font-style: italic;
}
.journey-section .universe-content .universe-title {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 30px;
}
.journey-section .universe-content p.universe-text {
  text-align: center;
  width: 650px;
  margin: auto;
  font-size: 1.1rem;
  color: #a3a3a3;
  margin-bottom: 30px;
}
.journey-section .universe-content .universe-flex {
  display: flex;
  justify-content: space-between;
}
.journey-section .universe-content .universe-flex .image-container {
  background: url(../images/exploration-photo.webp);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-top: 15px;
  width: 45%;
  height: 230px;
}
.journey-section .universe-content .universe-flex .text {
  flex: 1;
  padding: 10px 10px 10px 60px;
}
.journey-section .universe-content .universe-flex .text h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.journey-section .universe-content .universe-flex .text p {
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}
.journey-section .universe-content .universe-flex .text p.quote-text {
  font-style: italic;
  color: #a3a3a3;
}
.journey-section .universe-content .universe-flex .text p.quote-text-2 {
  margin-top: 30px;
  font-style: italic;
  color: #a3a3a3;
}
.journey-section .universe-content .universe-flex .text .author {
  font-weight: bold;
  font-style: italic;
}
.journey-section .creatures-content .creatures-title {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 30px;
}
.journey-section .creatures-content p.creatures-text {
  text-align: center;
  width: 650px;
  margin: auto;
  font-size: 1.1rem;
  color: #a3a3a3;
  margin-bottom: 30px;
}
.journey-section .creatures-content .creatures-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.journey-section .creatures-content .creatures-flex .image-container-1 {
  background: url(../images/creatures-photo-1.jfif);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-top: 15px;
  width: 48%;
  height: 300px;
}
.journey-section .creatures-content .creatures-flex .image-container-2 {
  background: url(../images/creatures-photo-2.webp);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-top: 15px;
  width: 48%;
  height: 300px;
}
.journey-section .creatures-content p.quote-text {
  font-style: italic;
  color: #a3a3a3;
  text-align: center;
  width: 550px;
  margin: auto;
}
.journey-section .creatures-content .author {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
.journey-section .score-content .score-title {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 30px;
}
.journey-section .score-content p.score-text {
  text-align: center;
  width: 650px;
  margin: auto;
  font-size: 1.1rem;
  color: #a3a3a3;
  margin-bottom: 30px;
}
.journey-section .score-content .score-flex {
  display: flex;
  justify-content: space-between;
}
.journey-section .score-content .score-flex .image-container {
  background: url(../images/score-photo.webp);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-top: 15px;
  width: 45%;
  height: 230px;
}
.journey-section .score-content .score-flex .text {
  flex: 1;
  padding: 10px 10px 10px 60px;
}
.journey-section .score-content .score-flex .text h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.journey-section .score-content .score-flex .text p {
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}
.journey-section .score-content .score-flex .text p.quote-text {
  font-style: italic;
  color: #a3a3a3;
}
.journey-section .score-content .score-flex .text p.quote-text-2 {
  margin-top: 30px;
  font-style: italic;
  color: #a3a3a3;
}
.journey-section .score-content .score-flex .text .author {
  font-weight: bold;
  font-style: italic;
}

.faqs-section {
  padding: 10px;
  padding-bottom: 50px;
  color: #fff;
}
.faqs-section h1.faqs-title {
  font-family: godOfWarFont;
  color: #ffffff;
  font-size: 3rem;
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
}
.faqs-section .faq-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* Style the faq-page panel. Note: hidden by default */
}
.faqs-section .faq-container .faq-page {
  color: #ffffff;
  background-color: #0f0f0f;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  border-bottom: 1px solid #333333;
}
.faqs-section .faq-container .faq-body {
  margin: auto;
  width: 55%;
  padding: auto;
}
.faqs-section .faq-container .active,
.faqs-section .faq-container .faq-page:hover {
  background-color: #1d1f20;
}
.faqs-section .faq-container .faq-body {
  padding: 0 10px;
  background-color: #121314;
  color: #a3a3a3;
  line-height: 1.6;
  padding: 10px;
  display: none;
  overflow: hidden;
}
.faqs-section .faq-container .faq-page:after {
  content: url(../images/plus-symbol-button.png);
  /* Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
}
.faqs-section .faq-container .active::after {
  content: url(../images/minus-symbol-button.png);
  /* Unicode character for "minus" sign (-) */
}

.opacity {
  opacity: 0;
}

.hide {
  display: none;
}

.active-btn {
  background-color: #0059ec;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .header .container {
    width: auto;
  }
  .header .container .navbar {
    display: none;
  }
  .hero-section .hero-container {
    width: auto;
  }
  .hero-section .hero-container h1 {
    text-align: center;
  }
  .hero-section .hero-container .hero-text {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .hero-section .hero-container .review-container {
    width: 80%;
    margin: auto;
  }
  .hero-section .hero-container .genre {
    width: 100%;
    text-align: center;
    border-radius: none;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .hero-section .hero-container .cta-container {
    width: 80%;
    margin: auto;
  }
  .hero-section .hero-container .cta-container .play-btn-container .play-button img {
    width: 40px;
  }
  .hero-section .hero-container .cta-container .play-btn-container .cta-trailer {
    margin-top: 0px;
  }
  .hero-section .hero-container .cta-container .buy-btn {
    font-size: 1.1rem;
    padding: 15px;
  }
  .bars {
    cursor: pointer;
    display: block;
    z-index: 12;
  }
  .story-section .story-text-container {
    width: 100%;
    padding: 30px 20px;
  }
  .story-section .story-text-container h1 {
    font-size: 2rem;
    text-align: center;
  }
  .story-section .story-img-container {
    display: none;
  }
  .games-section .games-container {
    margin-top: 50px;
  }
  .games-section .games-container .games-title {
    font-size: 2rem;
    margin: 20px auto;
  }
  .games-section .games-container .games-series {
    width: 100%;
    margin: 50px auto auto;
  }
  .games-section .games-container .games-series > div a div {
    padding-left: 5px;
    padding-right: 5px;
  }
  .games-section .games-container .games-series > div a div h2.title {
    font-size: 1.2rem;
  }
  .games-section .games-container .games-series > div a div p {
    text-align: right;
    font-size: 0.8rem;
  }
  .pc-section {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    height: 130vh;
  }
  .pc-section .pc-video-container {
    margin-top: 20px;
  }
  .pc-section .pc-video-container iframe {
    width: 400px;
  }
  .pc-section .pc-details-container {
    width: 100%;
    border-radius: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .journey-section h1.journey-section-title {
    font-size: 2rem;
  }
  .journey-section p.journey-section-title-text {
    width: 90%;
  }
  .journey-section .btns-container {
    width: auto;
    border-radius: 0;
    overflow-x: auto;
  }
  .journey-section .btns-container > button {
    flex: none;
    width: 120px;
  }
  .journey-section .content {
    width: 100%;
    left: 0;
  }
  .journey-section .fanstatic-content .fanstatic-title {
    font-size: 2rem;
  }
  .journey-section .fanstatic-content p.fanstatic-text {
    font-size: 0.9rem;
    width: 90%;
  }
  .journey-section .fanstatic-content .fanstatic-flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .journey-section .fanstatic-content .fanstatic-flex .image-container {
    width: 100%;
  }
  .journey-section .fanstatic-content .fanstatic-flex .text {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .journey-section .father-content .father-title {
    font-size: 2rem;
  }
  .journey-section .father-content p.father-text {
    font-size: 0.9rem;
    width: 90%;
  }
  .journey-section .father-content .father-flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .journey-section .father-content .father-flex .image-container {
    width: 100%;
  }
  .journey-section .father-content .father-flex .text {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .journey-section .combat-content .combat-title {
    font-size: 2rem;
  }
  .journey-section .combat-content p.combat-text {
    font-size: 0.9rem;
    width: 90%;
  }
  .journey-section .combat-content .combat-flex {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  }
  .journey-section .combat-content .combat-flex .image-container {
    width: 100%;
  }
  .journey-section .combat-content .combat-flex .text {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .journey-section .exploration-content .exploration-title {
    font-size: 2rem;
  }
  .journey-section .exploration-content p.exploration-text {
    font-size: 0.9rem;
    width: 90%;
  }
  .journey-section .exploration-content .exploration-flex {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  }
  .journey-section .exploration-content .exploration-flex .image-container {
    width: 100%;
  }
  .journey-section .exploration-content .exploration-flex .text {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .journey-section .universe-content .universe-title {
    font-size: 2rem;
  }
  .journey-section .universe-content p.universe-text {
    font-size: 0.9rem;
    width: 90%;
  }
  .journey-section .universe-content .universe-flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .journey-section .universe-content .universe-flex .image-container {
    width: 100%;
  }
  .journey-section .universe-content .universe-flex .text {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .journey-section .creatures-content .creatures-title {
    font-size: 2rem;
  }
  .journey-section .creatures-content p.creatures-text {
    font-size: 0.9rem;
    width: 90%;
  }
  .journey-section .creatures-content .creatures-flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .journey-section .creatures-content .creatures-flex .image-container-1 {
    margin-top: 15px;
    width: 100%;
    height: 300px;
  }
  .journey-section .creatures-content .creatures-flex .image-container-2 {
    width: 100%;
    height: 300px;
  }
  .journey-section .creatures-content p.quote-text {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .journey-section .score-content .score-title {
    font-size: 2rem;
  }
  .journey-section .score-content p.score-text {
    font-size: 0.9rem;
    width: 90%;
  }
  .journey-section .score-content .score-flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .journey-section .score-content .score-flex .image-container {
    width: 100%;
  }
  .journey-section .score-content .score-flex .text {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .faqs-section {
    margin-top: 100px;
    height: 1000px;
  }
  .faqs-section h1.faqs-title {
    font-size: 2rem;
  }
  .faqs-section .faq-container .faq-page {
    width: 90%;
  }
  .faqs-section .faq-container .faq-body {
    width: 80%;
  }
}