@import "./reset";
@import "./variables";
@import "./font-face";

.header {
  // border: 1px solid red;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
  .container {
    width: 1200px;
    color: $primary-clr;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        width: 60px;
      }
    }

    .navbar {
      // border: 1px solid red;
      .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          margin-left: 20px;
          margin-right: 20px;

          a {
            font-size: 1.2rem;
            letter-spacing: 1px;
            box-shadow: inset 0 0 0 0 $blue-clr;
            margin: 0 -0.25rem;
            padding: 0 -0.25rem;
            color: $primary-clr;
            transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
          }

          a:hover {
            box-shadow: inset 100px 0 0 0 $blue-clr;
          }
        }
      }
    }
  }
}

// menu for Mobile

.bars {
  position: fixed;
  z-index: 3;
  top: 5px;
  right: 20px;
  color: $primary-clr;
  font-size: 3rem;
  display: none;
}

.moba-navbar {
  position: fixed;
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.1);
  a {
    line-height: 2;
    font-size: 2rem;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 $blue-clr;
    margin: 0 -0.25rem;
    padding: 0 -0.25rem;
    color: $primary-clr;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  a:hover {
    box-shadow: inset 100px 0 0 0 $blue-clr;
  }
}

.hero-section {
  // border: 1px solid red;
  height: 100vh;
  background: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  color: $primary-clr;

  .hero-container {
    width: 1200px;
    // border: 1px solid red;
    margin: auto;

    h1 {
      font-family: godOfWarFont;
      font-size: 3rem;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .hero-text {
      font-size: 1.4rem;
      width: 50%;
      // border: 1px solid red;
      margin-bottom: 30px;
      line-height: 1.7;
    }

    .review-container {
      // border: 1px solid red;
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      .stars {
        i {
          color: gold;
        }
      }

      p {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
  span.blue {
    color: $blue-clr;
  }

  .genre {
    font-weight: 400;

    // border: 1px solid red;
    display: inline-block;
    padding: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  // CTA button
  .cta-container {
    margin-top: 40px;

    // border: 1px solid red;
    width: 27%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .play-btn-container {
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .play-button {
        cursor: pointer;
        img {
          width: 60px;
        }
      }

      .cta-trailer {
        margin-top: 5px;
        color: $primary-clr;
      }
      .cta-trailer:hover {
        color: $blue-clr;
        text-decoration: underline $blue-clr;
      }
    }

    .buy-btn {
      color: $primary-clr;
      font-family: godOfWarFont;
      font-size: 1.4rem;
      padding: 20px;
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      text-transform: uppercase;
      border: 2px solid $blue-clr;
      transition: background-color 0.3s ease-in-out;
    }

    .buy-btn:hover {
      background-color: $blue-clr;
    }
  }
}

// Start Story section
.story-section {
  // border: 1px solid red;
  height: 120vh;
  // color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .story-text-container {
    // border: 1px solid blue;
    width: 40%;
    color: $primary-clr;

    h1 {
      font-family: godOfWarFont;
      font-size: 3rem;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .story-img-container {
    // border: 1px solid blue;
    width: 30%;
    height: 80%;
    background: url(../images/story-photo.jpg);
    background-position: top;
    background-size: cover;
  }
}

// Start Games section
.games-section {
  // border-top: 1px solid #a3a3a3;
  // border-bottom: 1px solid #a3a3a3;
  padding-top: 100px;
  height: 233vh;
  color: #fff;
  background-color: $darkGray-clr;
  // background: url(../images/blue-logo.png);
  // background-position: center;
  // background-size: contain;
  // background-repeat: no-repeat;
  // backdrop-filter: blur(10px);
  // background-color: rgba(0, 0, 0, 0.1);

  .games-container {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    // backdrop-filter: blur(10px);
    // background-color: rgba(0, 0, 0, 0.1);

    .games-title {
      font-family: godOfWarFont;
      font-size: 3rem;
      text-align: center;
      margin: 50px auto;
    }

    .games-series {
      width: 80%;
      // border: 1px solid white;
      margin: 100px auto auto;

      > div {
        // border: 1px solid blue;
        height: 150px;
        // backdrop-filter: blur(80px);
        // background-color: rgba(0, 0, 0, 0.8);
        border-top: 1px solid #414141;

        // border-radius: 20px;

        a {
          // border: 1px solid red;
          height: 100%;
          position: relative;
          cursor: pointer;
          display: block;
          div {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;

            h2.title {
              font-family: godOfWarFont;
              font-size: 2.3rem;
              color: $primary-clr;
            }

            p {
              font-weight: 200;
              color: #a3a3a3;
            }
          }
        }
      }

      .hovering a img {
        // display: none;
        opacity: 0;
        position: absolute;
        top: -70px;
        left: 400px;
        width: 300px;
        transition: all 0.3s ease-in-out;
      }

      .hovering a:hover img {
        opacity: 1;
        // display: block;
      }
      // > div:hover {
      //   border-bottom: 2px solid #b6b6b6;
      // }
    }
  }
}

// Start "COW on pc" section
.pc-section {
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/bg-trailer.webp);
  background-position: center;
  background-size: cover;
  .pc-video-container {
  }

  .pc-details-container {
    padding: 30px 20px;
    // border: 1px solid red;
    width: 40%;
    margin-left: 30px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;

    .pc-details-title {
      font-family: godOfWarFont;
      font-size: 2.4rem;
      margin: 20px auto;
    }

    .pc-details-about-text {
      width: 80%;
      margin-bottom: 20px;
      font-size: 1.2rem;
      color: #acacac;
    }

    .pc-features-tilte {
      margin-bottom: 10px;
      font-weight: 400;
    }

    ul {
      margin-left: 40px;
      line-height: 1.7;
      margin-top: 20px;

      margin-bottom: 30px;
      li {
        list-style: url("../images/square.png");
      }
    }

    .learn-more-btn {
      font-family: inherit;
      background-color: $primary-clr;
      padding: 10px 20px;
      font-size: 1rem;
      color: $bg-clr;
      font-weight: 600;
      border-radius: 30px;
      transition: all 0.3s ease-in-out;
    }

    .learn-more-btn:hover {
      background-color: $blue-clr;
      color: $primary-clr;
    }
  }
}

// Start journy section
.journey-section {
  height: 1200px;
  // border: 1px solid red;
  background-color: $darkGray-clr;
  padding: 60px 0;
  color: #fff;
  position: relative;

  h1.journey-section-title {
    font-family: godOfWarFont;
    font-size: 2.4rem;
    text-align: center;
    margin: 20px auto;
  }

  p.journey-section-title-text {
    width: 50%;
    margin: 30px auto;
    text-align: center;
  }

  .btns-container {
    // border: 1px solid red;
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #1d1f20;

    > button {
      flex: 1;
      margin-left: 3px;
      margin-right: 3px;
      padding: 10px;
      height: 60px;
      font-family: inherit;
      font-weight: bold;
      // border: 1px solid #414141;
      color: #acacac;
      border-radius: 30px;
      background-color: $darkGray-clr;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    > button:hover {
      background-color: $blue-clr;
      color: $primary-clr;
    }

    // Acctive Button here
  }

  .content {
    // border: 1px solid blue;
    width: 80%;
    // height: 400px;
    position: absolute;
    top: 400px;
    left: 10%;
    padding: 10px;
    background-color: $darkGray-clr;
    transition: opacity 0.5s ease-in-out;
    // transform: translate(-50%, -50%);
  }

  // Fanstastic content
  .fanstatic-content {
    .fanstatic-title {
      text-align: center;
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 30px;
    }

    p.fanstatic-text {
      text-align: center;
      width: 650px;
      margin: auto;
      font-size: 1.1rem;
      color: #a3a3a3;
      margin-bottom: 30px;
    }

    .fanstatic-flex {
      // border: 1px solid red;
      display: flex;
      justify-content: space-between;

      .image-container {
        // border: 1px solid blue;
        background: url(../images/fantastic-photo.webp);
        background-position: center;
        background-size: cover;
        // background-repeat: no-repeat;
        border-radius: 20px;
        margin-top: 15px;
        // flex: ;
        width: 45%;
        height: 230px;
      }

      .text {
        flex: 1;
        padding: 10px 10px 10px 60px;

        h3 {
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 20px;
        }

        p {
          font-weight: 300;
          line-height: 1.6;
          margin-bottom: 15px;
        }

        p.quote-text {
          font-style: italic;
          color: #a3a3a3;
        }

        .author {
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }

  // Father and son content

  .father-content {
    .father-title {
      text-align: center;
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 30px;
    }

    p.father-text {
      text-align: center;
      width: 650px;
      margin: auto;
      font-size: 1.1rem;
      color: #a3a3a3;
      margin-bottom: 30px;
    }

    .father-flex {
      // border: 1px solid red;
      display: flex;
      justify-content: space-between;

      .image-container {
        // border: 1px solid blue;
        background: url(../images/father-and-son.webp);
        background-position: center;
        background-size: cover;
        // background-repeat: no-repeat;
        border-radius: 20px;
        margin-top: 15px;
        // flex: ;
        width: 45%;
        height: 230px;
      }

      .text {
        flex: 1;
        padding: 10px 10px 10px 60px;

        h3 {
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 20px;
        }

        p {
          font-weight: 300;
          line-height: 1.6;
          margin-bottom: 15px;
        }

        p.quote-text {
          font-style: italic;
          color: #a3a3a3;
        }

        p.quote-text-2 {
          margin-top: 30px;
          font-style: italic;
          color: #a3a3a3;
        }
        .author {
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }

  // Combat content
  .combat-content {
    .combat-title {
      text-align: center;
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 30px;
    }

    p.combat-text {
      text-align: center;
      width: 650px;
      margin: auto;
      font-size: 1.1rem;
      color: #a3a3a3;
      margin-bottom: 30px;
    }

    .combat-flex {
      // border: 1px solid red;
      display: flex;
      justify-content: space-between;

      .image-container {
        // border: 1px solid blue;
        background: url(../images/father-and-son.webp);
        background-position: center;
        background-size: cover;
        // background-repeat: no-repeat;
        border-radius: 20px;
        margin-top: 15px;
        // flex: ;
        width: 45%;
        height: 230px;
      }

      .text {
        flex: 1;
        padding: 10px 10px 10px 60px;

        h3 {
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 20px;
        }

        p {
          font-weight: 300;
          line-height: 1.6;
          margin-bottom: 15px;
        }

        p.quote-text {
          font-style: italic;
          color: #a3a3a3;
        }

        p.quote-text-2 {
          margin-top: 30px;
          font-style: italic;
          color: #a3a3a3;
        }
        .author {
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }

  // exploration centtent
  .exploration-content {
    .exploration-title {
      text-align: center;
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 30px;
    }

    p.exploration-text {
      text-align: center;
      width: 650px;
      margin: auto;
      font-size: 1.1rem;
      color: #a3a3a3;
      margin-bottom: 30px;
    }

    .exploration-flex {
      // border: 1px solid red;
      display: flex;
      justify-content: space-between;

      .image-container {
        // border: 1px solid blue;
        background: url(../images/exploration-photo.webp);
        background-position: center;
        background-size: cover;
        // background-repeat: no-repeat;
        border-radius: 20px;
        margin-top: 15px;
        // flex: ;
        width: 45%;
        height: 230px;
      }

      .text {
        flex: 1;
        padding: 10px 10px 10px 60px;

        h3 {
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 20px;
        }

        p {
          font-weight: 300;
          line-height: 1.6;
          margin-bottom: 15px;
        }

        p.quote-text {
          font-style: italic;
          color: #a3a3a3;
        }

        p.quote-text-2 {
          margin-top: 30px;
          font-style: italic;
          color: #a3a3a3;
        }
        .author {
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }

  // universe Content
  .universe-content {
    .universe-title {
      text-align: center;
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 30px;
    }

    p.universe-text {
      text-align: center;
      width: 650px;
      margin: auto;
      font-size: 1.1rem;
      color: #a3a3a3;
      margin-bottom: 30px;
    }

    .universe-flex {
      // border: 1px solid red;
      display: flex;
      justify-content: space-between;

      .image-container {
        // border: 1px solid blue;
        background: url(../images/exploration-photo.webp);
        background-position: center;
        background-size: cover;
        // background-repeat: no-repeat;
        border-radius: 20px;
        margin-top: 15px;
        // flex: ;
        width: 45%;
        height: 230px;
      }

      .text {
        flex: 1;
        padding: 10px 10px 10px 60px;

        h3 {
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 20px;
        }

        p {
          font-weight: 300;
          line-height: 1.6;
          margin-bottom: 15px;
        }

        p.quote-text {
          font-style: italic;
          color: #a3a3a3;
        }

        p.quote-text-2 {
          margin-top: 30px;
          font-style: italic;
          color: #a3a3a3;
        }
        .author {
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }

  // creatures Content
  .creatures-content {
    .creatures-title {
      text-align: center;
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 30px;
    }

    p.creatures-text {
      text-align: center;
      width: 650px;
      margin: auto;
      font-size: 1.1rem;
      color: #a3a3a3;
      margin-bottom: 30px;
    }

    .creatures-flex {
      // border: 1px solid red;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .image-container-1 {
        // border: 1px solid blue;
        background: url(../images/creatures-photo-1.jfif);
        background-position: center;
        background-size: cover;
        // background-repeat: no-repeat;
        border-radius: 20px;
        margin-top: 15px;
        // flex: ;
        width: 48%;
        height: 300px;
      }

      .image-container-2 {
        // border: 1px solid blue;
        background: url(../images/creatures-photo-2.webp);
        background-position: center;
        background-size: cover;
        // background-repeat: no-repeat;
        border-radius: 20px;
        margin-top: 15px;
        // flex: ;
        width: 48%;
        height: 300px;
      }
    }

    p.quote-text {
      font-style: italic;
      color: #a3a3a3;
      // border: 1px solid red;
      text-align: center;
      width: 550px;
      margin: auto;
    }

    .author {
      display: block;
      margin-top: 20px;
      text-align: center;
      font-weight: bold;
      font-style: italic;
    }
  }

  // Score Content
  .score-content {
    .score-title {
      text-align: center;
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 30px;
    }

    p.score-text {
      text-align: center;
      width: 650px;
      margin: auto;
      font-size: 1.1rem;
      color: #a3a3a3;
      margin-bottom: 30px;
    }

    .score-flex {
      // border: 1px solid red;
      display: flex;
      justify-content: space-between;

      .image-container {
        // border: 1px solid blue;
        background: url(../images/score-photo.webp);
        background-position: center;
        background-size: cover;
        // background-repeat: no-repeat;
        border-radius: 20px;
        margin-top: 15px;
        // flex: ;
        width: 45%;
        height: 230px;
      }

      .text {
        flex: 1;
        padding: 10px 10px 10px 60px;

        h3 {
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 20px;
        }

        p {
          font-weight: 300;
          line-height: 1.6;
          margin-bottom: 15px;
        }

        p.quote-text {
          font-style: italic;
          color: #a3a3a3;
        }

        p.quote-text-2 {
          margin-top: 30px;
          font-style: italic;
          color: #a3a3a3;
        }
        .author {
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }
}

// Start FAQs section
.faqs-section {
  padding: 10px;
  padding-bottom: 50px;
  color: #fff;

  h1.faqs-title {
    font-family: godOfWarFont;
    color: $primary-clr;
    font-size: 3rem;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
  }

  .faq-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .faq-page {
      color: $primary-clr;
      background-color: $darkGray-clr;
      cursor: pointer;
      padding: 30px 20px;
      width: 60%;
      border: none;
      outline: none;
      transition: 0.4s;
      margin: auto;
      border-bottom: 1px solid #333333;
    }

    .faq-body {
      margin: auto;
      width: 55%;
      padding: auto;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active,
    .faq-page:hover {
      background-color: #1d1f20;
    }

    /* Style the faq-page panel. Note: hidden by default */
    .faq-body {
      padding: 0 10px;
      background-color: $bg-clr;
      color: #a3a3a3;
      line-height: 1.6;
      padding: 10px;
      display: none;
      overflow: hidden;
    }

    .faq-page:after {
      content: url(../images/plus-symbol-button.png);
      /* Unicode character for "plus" sign (+) */
      // font-size: 13px;
      // color: #fff;
      float: right;
      margin-left: 5px;
    }

    .active::after {
      content: url(../images/minus-symbol-button.png);
      /* Unicode character for "minus" sign (-) */
    }
  }
}

.opacity {
  opacity: 0;
}

.hide {
  display: none;
}

.active-btn {
  background-color: $blue-clr;
  color: $primary-clr;
}

// Import resoonsive file
@import "./responsive";
